.productList {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.productCard {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-decoration: none;
  color: black;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.productCard img {
  max-width: 100%;
  max-height: 150px;
  transition: 1s;
}
.productCard:hover img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.productCard h3 {
  font-size: 16px;
  margin-top: 10px;
}

.productCard p {
  font-size: 14px;
}

/* Dört sütunlu bir düzen oluşturmak için medya sorguları kullanabilirsiniz */
@media (min-width: 768px) {
  .productCard {
    flex-basis: 25%;
  }
}
