/* CSS dosyanızın içinde bu kodu kullanabilirsiniz */

.button-container {
  text-align: center;
<<<<<<< HEAD

  margin-bottom: 22px;
=======
  margin-bottom: 29px;
  left: auto;
  margin-left: 12px;
  display: inline;
>>>>>>> d87aa7507ac2229f332d80a03f1d767b896b3804
}

.sort-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.sort-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #62f8ad;

  transform-origin: top;
  transition: transform 0.3s; /* Kayan efekt */
  width: 0;
  height: 100%;
  transition: 1s;
  opacity: 0.5;
}
.sort-button:hover:after {
  width: 100%;
}
